// <BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    display: inline-block;
    padding: rem(8) rem(52);
    font-size: rem(20);
    font-weight: 600;
    line-height: math.div(32, 20);
    color: #ffffff;
    text-align: center;
    background: $mainRed;
    border-radius: 3px;
    box-shadow: 0 4px 20px rgba(128, 0, 32, 0.43);
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0 4px 25px rgba(128, 0, 32, 1);
        }
    }
    &_border {
        color: $mainRed;
        background-color: #fff;
        border: 1px solid $mainRed;
        box-shadow: none;
    }
    &_black {
        padding: rem(8) rem(30);
        color: #fff;
        background-color: #000;
        box-shadow: none;
    }
}
