// <INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
        outline: none;
    }
}
.input {
    display: block;
    width: 100%;
    padding: 0 20px;
    border-radius: 0 !important;
    &._focus {
    }
    &._error {
    }
}
textarea.input {
    padding: 0;
    resize: none;
}
