// <SELECT>
// Снипет (HTML): sel
.select {
    position: relative;
    font-size: rem(16);
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        width: 100%;
        color: inherit;
        text-align: left;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }
    // .select__value
    &__value {
        display: flex;
        gap: rem(10);
        align-items: center;
        height: rem(30);
        padding: 0 rem(12);
        @media (max-width: $mobileSmall) {
            padding: 0 rem(6);
        }
        > * {
            flex: 1 1 auto;
        }
        &::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 10px;
            display: block;
            width: 8px;
            height: 8px;
            cursor: pointer;
            border-bottom: 1px solid $mainColor;
            border-left: 1px solid $mainColor;
            transform: rotate(-45deg);
        }
        &._select-pseudo-label {
            &::before {
                content: attr(data-pseudo-label);
                opacity: 0.5;
            }
        }
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
    }
    &__input {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 29px;
        left: 0;
        min-width: 100%;
        padding: 10px 0 5px 0;
        color: $mainColor;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-top: 0;
        border-radius: 0 0 4px 4px;
    }
    // .select__scroll
    &__scroll {
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        // Стили скроллбара
        .simplebar-scrollbar {
            &::before {
                // opacity: 1;
            }
        }
    }
    // .select__option
    &__option {
        width: 100%;
        padding: 5px 15px;
        color: inherit;
        text-align: left;
        cursor: pointer;
        &._select-selected {
            background-color: #eee;
        }
        @media (any-hover: hover) {
            &:hover {
                background: #d9d9d9;
            }
        }
    }

    // Конструкция дополнительных данных
    &__row {
        display: inline-flex;
        align-items: center;
    }
    &__asset {
    }

    // Состояния селекта
    &._select-open {
        z-index: 5;
    }
    &._select-disabled {
    }
    &._select-active {
    }
    &._select-focus {
    }
    &._select-multiple {
    }
    &._select-checkbox {
    }
}

// Тег
._select-tag {
    cursor: pointer;
}
