.catalog {
    @include adaptiveValue("padding-bottom", 120, 40);
    // .catalog__container
    &__container {
    }
    // .catalog__body
    &__body {
        display: grid;
        gap: rem(30);
        align-items: start;
        @media (min-width: $tablet) {
            grid-template-columns: rem(375) 1fr;
        }
    }
    // .catalog__filter
    &__filter {
    }
    // .catalog__content
    &__content {
    }
    // .catalog__control
    &__control {
        display: flex;
        justify-content: flex-end;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
    &__select {
        width: 240px;
    }
    // .catalog__products
    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
        gap: rem(30);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    // .catalog__footer
    &__footer {
        display: flex;
        gap: rem(20);
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    // .catalog__more
    &__more {
    }
    // .catalog__pagging
    &__pagging {
    }
}
// ========================================================================================================================================================

.filter-catalog {
    background: #fefefe;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    // .filter-catalog__title
    &__title {
        width: 100%;
        padding: rem(20) rem(30);
        font-size: rem(20);
        font-weight: 700;
        line-height: math.div(24, 20);
        color: #fff;
        background-color: $mainDarkColor;
        border-radius: 4px 4px 0 0;
    }
    // .filter-catalog__items
    &__items {
        @media (max-width: $tablet) {
            display: none;
            &._active {
                display: block;
            }
        }
    }
    // .filter-catalog__price
    &__price {
    }
}
.price-filter {
    padding: rem(20) rem(30);
    // .price-filter__title
    &__title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &::before {
            font-size: rem(8);
            color: $mainRed;
            transition: transform 0.3s ease 0s;
            transform: rotate(-180deg);
        }
        &._spoiler-active {
            &::before {
                transform: rotate(0deg);
            }
        }
    }
    // .price-filter__body
    &__body {
        padding: rem(30) 0 rem(30) 0;
    }
    // .price-filter__inputs
    &__inputs {
        display: flex;
        overflow: hidden;
        border: 1px solid #cbcbcb;
        border-radius: rem(3);
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }
    // .price-filter__input
    &__input {
        width: 50%;
        height: rem(42);
        padding: 0 rem(15);
        text-align: center;
        &:not(:last-child) {
            border-right: 1px solid #cbcbcb;
        }
    }
    // .price-filter__range
    &__range {
    }
}

.item-filter-catalog {
    // .item-filter-catalog__title
    &__title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: rem(10) rem(30);
        color: #fff;
        background-color: $mainDarkColor;
        &::before {
            font-size: rem(8);
            color: $mainRed;
            transition: transform 0.3s ease 0s;
            transform: rotate(-180deg);
        }
        &._spoiler-active {
            &::before {
                transform: rotate(0deg);
            }
        }
    }
    // .item-filter-catalog__body
    &__body {
        padding: rem(30);
    }
    // .item-filter-catalog__checkbox
    &__checkbox {
        &:not(:last-child) {
            margin-bottom: rem(22);
        }
    }
}
